<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="/stylesheets/management.css" />
	</head>
	<body>
		<p class="p1"><b>ECSHOP管理中心</b></p>
		<p class="p2">no_license<span>点击查看</span></p>
		<div class="thisday">
			<ol>
				<li class="thisday1">
					<img src="/images/list/icon01.png" />
					<p>今日销售总额</p>
					<b>0.00元</b>
				</li>
				<li class="thisday1">
					<img src="/images/list/icon02.png" />
					<p>今日订单总数</p>
					<b>0</b>
				</li>
				<li class="thisday1">
					<img src="/images/list/icon03.png" />
					<p>今日注册会员</p>
					<b>0</b>
				</li>
				<li class="thisday1">
					<img src="/images/list/icon04.png" />
					<p>今日网站访问</p>
					<b>100</b>
				</li>
			</ol>
		</div>
		
	</body>
</html>